<section id="wrapper">
    <!-- <div class="login-register"> -->
    <div class="login-register" style="background-image:url(/assets/images/fondo-service.jpg);">
        <div style="width: 1000px;" class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" action="index.html">
                    <a href="javascript:void(0)" class="text-center db"><img src="/assets/images/107721_original2Md.png" alt="Home" /><br/></a>
                    <h1 class="box-title m-b-20" style="text-align:center">{{tituloOrden}}</h1>
                    <div class="form-body">
                        <div class="row" *ngIf="ordenreparacion">
                            <div class="col-md-6 ">
                                <div class="form-group ">
                                    <h4 class="box-title m-b-20">Fecha comienzo:</h4>
                                    <input type="text" readonly class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="ordenreparacion.FechaInicio">
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group ">
                                    <h4 class="box-title m-b-20">Fecha retiro estimado:</h4>
                                    <input type="text" readonly class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="ordenreparacion.FecRetiroEstimado">
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="ordenreparacion">

                            <div class="card-body">
                                <h4 class="card-title">Estado: {{ordenreparacion.Estado}}
                                    <a class="get-code" data-toggle="collapse" href="#pgr2" aria-expanded="true"></a>
                                </h4>
                                <div class="progress m-t-20">
                                    <div class="progress-bar bg-success" [style.width]="progress + '%'" style="height:15px;" role="progressbar"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="ordenreparacion">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <h4 class="box-title m-b-20">Marca:</h4>
                                    <input type="text" readonly class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="ordenreparacion.Marca">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <h4 class="box-title m-b-20">Modelo:</h4>
                                    <input type="text" readonly class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="ordenreparacion.Modelo">
                                </div>
                            </div>
                        </div>

                        <!--/row-->
                        <div class="row ">
                            <div class="col-md-12 ">
                                <table class="table table-bordered table-striped" id="idTableDetalle">
                                    <thead>
                                        <tr>
                                            <th width="20%">Tarea</th>
                                            <th width="20">Repuesto</th>
                                            <th width="20%">Precio $</th>
                                            <th width="20%">Cantidad</th>
                                            <th width="20%">Total $</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="listDetalleOrden.length">
                                        <tr *ngFor="let detalleorden of listDetalleOrden | paginate: {itemsPerPage: 5, currentPage: pageActualDetalle}; let i = index">
                                            <td>{{detalleorden.NombreTarea}}</td>
                                            <td>{{detalleorden.NombreRep}} </td>
                                            <td>{{detalleorden.Precio}}</td>
                                            <td>{{detalleorden.Cantidad}}</td>
                                            <td>{{detalleorden.Total}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="dataTables_paginate paging_simple_numbers">
                                    <span>
                                            <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageActualDetalle = $event"></pagination-controls>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="large-1 large-centered column">
                                <button type="button" [routerLink]="['/consultaestado']" class="col-4 btn-ordenrep btn-danger">Volver</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section>
    <jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="tel" [ngx_whatsapp_text]="mensaje"></jjva-ngx-whatsapp-button>
</section>