<div class="card-header bg-info">
    <h4 class="m-b-0 text-white h4-per">Menu usuarios</h4>
</div>

<!--/row-->
<div class="form-group ">
    <div class="row ">
        <div class="col-md-4 ">
            <div class="dt-buttons">
                <button type="button" aria-controls="example23" class="btn waves-effect waves-light btn-success" (click)="SetNull();openModal('ModalNuevoUsuario');">Nuevo usuario</button>

            </div>
        </div>
        <div class="col-md-8 text-right">
            <button type="button" (click)="exportexcel();" aria-controls="example23" class="btn waves-effect waves-light btn-primary">Exportar excel</button>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th width="3%">Nro.</th>
            <th width="75%">Nombre</th>
            <th width="10%">Tipo</th>
            <th width="20%">Ultimo ingreso</th>
            <th width="6%">Acción</th>
        </tr>
    </thead>
    <!-- <tbody *ngIf="listOrdenRep.length"> -->
    <tbody *ngIf="listUsuarios">
        <tr *ngFor="let usuario of listUsuarios | paginate: {itemsPerPage: 7, currentPage: pageActual}; let i = index">
            <td>{{usuario.PkUsuario}} </td>
            <td>{{usuario.Nombre}}</td>
            <td>{{usuario.Tipo}}</td>
            <td>{{usuario.UltimoIngreso | date:'dd/MM/yyyy hh:mm'}}</td>
            <td class="text-nowrap">
                <a data-toggle="tooltip" (click)="SetValores(usuario);openModal('ModalEditarUsuario');" data-original-title="Editar"> <i name="Modificar" class="fa fa-pencil text-inverse m-r-10"></i> </a>
                <a data-toggle="tooltip" data-original-title="Eliminar"> <i (click)="EliminarUsuario(usuario.PkUsuario)" class="fa fa-close text-danger"></i></a>
            </td>
        </tr>
    </tbody>
</table>
<div class="dataTables_paginate paging_simple_numbers">
    <span>
                    <pagination-controls
                    previousLabel="Anterior"
                    nextLabel="Siguiente" (pageChange)="pageActual = $event"></pagination-controls>
                </span>
</div>

<!----------------------- FIN MODAL -------------------------------------->
<jw-modal id="ModalNuevoUsuario">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nuevo usuario</h4>
                <button type="button" class="close" (click)="closeModal('ModalNuevoUsuario');">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Nombre: <span class="spanBold">*</span></label>
                            <input type="text" class="form-control" required [(ngModel)]="usuario.Nombre">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Contraseña:</label>
                            <input type="password" class="form-control" required [(ngModel)]="usuario.Contrasenia">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Repetir contraseña:</label>
                            <input type="password" class="form-control" required [(ngModel)]="passRepe">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Mail: <span class="spanBold">*</span></label>
                            <input type="text" class="form-control" required [(ngModel)]="usuario.Mail">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Tipo:</label>
                            <select required class="custom-select col-12" [ngModelOptions]="{standalone:true}" [(ngModel)]="usuario.FkTipoUsuario">
                                <option value="1">Administrador</option>
                                <option value="2">Compras</option>
                                <option value="3">Técnico</option>                              
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn waves-effect waves-light btn-success" (click)="GuardarUsuario($event.target.value);">Guardar</button>
                <button type="button" class="btn waves-effect waves-light btn-danger" (click)="closeModal('ModalNuevoUsuario');">Cancelar</button>
            </div>
        </div>
    </div>
</jw-modal>

<jw-modal id="ModalEditarUsuario">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar usuario</h4>
                <button type="button" class="close" (click)="closeModal('ModalEditarUsuario');">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Nombre: <span class="spanBold">*</span></label>
                            <input type="text" class="form-control" required [(ngModel)]="usuario.Nombre">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Contraseña:</label>
                            <input type="password" class="form-control" required [(ngModel)]="usuario.Contrasenia">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Repetir contraseña:</label>
                            <input type="password" class="form-control" required [(ngModel)]="passRepe">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Mail: <span class="spanBold">*</span></label>
                            <input type="text" class="form-control" required [(ngModel)]="usuario.Mail">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Tipo:</label>
                            <select required class="custom-select col-12" [ngModelOptions]="{standalone:true}" [(ngModel)]="usuario.FkTipoUsuario">
                                <option value="1">Administrador</option>
                                <option value="2">Compras</option>
                                <option value="3">Técnico</option>                              
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn waves-effect waves-light btn-success" (click)="ModificarUsuario(usuario.PkUsuario, usuario);">Guardar</button>
                <button type="button" class="btn waves-effect waves-light btn-danger" (click)="closeModal('ModalEditarUsuario');">Cancelar</button>
            </div>
        </div>
    </div>
</jw-modal>