<div class="card-header bg-info">
    <h4 class="m-b-0 text-white">Modificar orden de reparación</h4>
</div>
<form action="#">
    <div class="form-body">
        <hr>
        <!-- Antes de asignar los valores tiene que existir datos en el objeto cliente -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Nombre:</label>
                    <input type="text" [ngModelOptions]="{standalone: true}" readonly [(ngModel)]="ordenRep.Nombre" class="form-control">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Teléfono:</label>
                    <input type="text" readonly class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="ordenRep.Telefono">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Mail:</label>
                    <input type="text" readonly class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="ordenRep.Mail">
                </div>
            </div>
        </div>

        <!--/row-->
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label">Descripción del problema:</label>
                    <textarea class="form-control" name="textarea" rows="8" cols="50" [ngModelOptions]="{standalone:true}" [(ngModel)]="ordenRep.DescripProblema"></textarea>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-group has-success">
                        <label class="control-label">Estado:</label>
                        <select required class="form-control custom-select" data-placeholder="Estado" [ngModelOptions]="{standalone:true}" [(ngModel)]="ordenRep.FkEstado"> 
                                <option *ngFor="let estado of listEstado" value={{estado.PkEstado}}>{{estado.Nombre}}</option>        
                            </select>
                        <!-- <small class="form-control-feedback">Selecciona el estado de la reparación </small> -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha retiro estimado:</label>
                    <input type="date" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="ordenRep.FecRetiroEstimado">
                </div>
            </div>
        </div>

        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Marca:</label>
                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="ordenRep.FkMarca" (change)="onSelectMarca($event.target.value);">                           
                        <option *ngFor="let marca of listMarca" value={{marca.PkMarca}}>{{marca.Nombre}} </option>  
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Modelo:</label>
                    <!-- <select class="form-control" data-placeholder="Modelo" [ngModelOptions]="{standalone:true}" [(ngModel)]="ordenRep.FkModelo">   -->
                    <select class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="ordenRep.FkModelo">                                 
                        <option *ngFor="let modelo of listModelo" value={{modelo.PkModelo}}>{{modelo.Nombre}}</option>        
                    </select>
                </div>
            </div>
        </div>

        <!--/row-->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Observación:</label>
                    <textarea class="form-control" name="textarea" rows="3" cols="20" [ngModelOptions]="{standalone: true}" [(ngModel)]="ordenRep.Observacion"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-around ">
        <button type="button" id="btnGuardar" class="btn-ordenrep btn-success" (click)="ModificarOrden($event.target.value);">Guardar</button>
    </div>


    <div class="row ">
        <div class="col-md-12 ">
            <button type="button" id="btnNuevoMov" class="btn waves-effect waves-light btn-info float-right" (click)="SetNull();openModal('ModalMov');">Nuevo movimiento</button>
            <table class="table table-bordered table-striped" id="idTableDetalle">
                <thead>
                    <tr>
                        <th width="20">Repuesto</th>
                        <th width="20%">Tarea</th>
                        <th width="20%">Precio $</th>
                        <th width="20%">Cantidad</th>
                        <th width="20%">Total $</th>
                        <th width="6%">Acción</th>
                    </tr>
                </thead>
                <tbody *ngIf="listDetalleOrden.length">
                    <tr *ngFor="let detalleorden of listDetalleOrden | paginate: {itemsPerPage: 5, currentPage: pageActualDetalle}; let i = index">
                        <td>{{detalleorden.NombreRep}} </td>
                        <td>{{detalleorden.NombreTarea}}</td>
                        <td>{{detalleorden.Precio}}</td>
                        <td>{{detalleorden.Cantidad}}</td>
                        <td>{{detalleorden.Total}}</td>
                        <td class="text-nowrap">
                            <!-- <a data-toggle="tooltip" data-original-title="Edit"> <i (click)="modificarDetalle(detalleorden);" class="fa fa-pencil text-inverse m-r-10"></i> </a> -->
                            <a data-toggle="tooltip" data-original-title="Close"> <i (click)="eliminarDetalleOrden(detalleorden.PkDetalleOrden);" class="fa fa-close text-danger"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="dataTables_paginate paging_simple_numbers">
                <span>
                        <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageActualDetalle = $event"></pagination-controls>
                    </span>
            </div>
        </div>
    </div>
    <div class="row justify-content-around">
        <button routerLink="/menuordenrep" type="button" class="btn-ordenrep btn-danger">Volver</button>
    </div>

    <!-----------------/MODAL------------------->
    <jw-modal id="ModalMov">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="width: 700px">
                <div class="modal-header">
                    <h4 class="modal-title">Registrar movimiento de repuesto</h4>
                    <button type="button" (click)="closeModal('ModalMov');" class="close">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Repuesto:</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control col-md-2" [ngModelOptions]="{standalone:true}" required [(ngModel)]="detalleOrden.FkRepuesto">
                                    <button (click)="obtenerRepuestos();openModal('ModalSelectRepuesto');" type="button" class="btn btn-info">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <label id="lblNombreRepuesto" class="control-label text-danger"></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="control-label ">Precio:</label>
                                <input type="number" [ngModelOptions]="{standalone:true}" class="form-control" [(ngModel)]="detalleOrden.Precio">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Cantidad:</label>
                                <input type="number" [min]="1" [ngModelOptions]="{standalone:true}" class="form-control" required [(ngModel)]="detalleOrden.Cantidad">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Tarea:</label>
                                <div class="col-md-12">
                                    <input type="text" [ngModelOptions]="{standalone:true}" class="form-control col-md-2" required [(ngModel)]="detalleOrden.FkTarea">
                                    <button (click)="obtenerTareas();openModal('ModalSelectTarea');" type="button" class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                    <label id="lblNombreTarea" class="control-label text-danger"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Observacion:</label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="detalleOrden.Observacion">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn waves-effect waves-light btn-success" (click)="GuardarDetalleOrden($event.target.value);" data-dismiss="modal">Guardar</button>
                    <button type="button" class="btn waves-effect waves-light btn-danger" (click)="closeModal('ModalMov');">Cancelar</button>
                </div>
            </div>
        </div>
    </jw-modal>
    <!----------------------- FIN MODAL -------------------------------------->

    <jw-modal id="ModalSelectRepuesto">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 750px;">
                <div class="modal-header">
                    <h4 class="modal-title">Seleccionar repuesto</h4>
                    <button type="button" (click)="closeModal('ModalSelectRepuesto');" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped" id="tableRepuestos">
                        <thead>
                            <tr>
                                <th width="70%">Nombre</th>
                                <th width="14%">Precio $</th>
                                <th width="10%">Cant.disp.</th>
                                <th width="10%">Marca</th>
                                <th width="1%">*</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="listRepuesto.length">
                            <tr *ngFor="let repuesto of listRepuesto | paginate: {itemsPerPage: 5, currentPage: pageActualRep}; let i = index">
                                <td>{{repuesto.Nombre}} </td>
                                <td>{{repuesto.PrecioVenta}}</td>
                                <td>{{repuesto.CantidadStock}}</td>
                                <td>{{repuesto.Marca}}</td>
                                <i (click)="repuestoSeleccionado(repuesto)" class="fa fa-check"></i>
                            </tr>
                        </tbody>
                    </table>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <span>
                            <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageActualRep = $event"></pagination-controls>
                        </span>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" (click)="closeModal('ModalSelectRepuesto');" class="btn waves-effect waves-light btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </jw-modal>

    <jw-modal id="ModalSelectTarea">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 750px;">
                <div class="modal-header">
                    <h4 class="modal-title">Seleccionar tarea</h4>
                    <button type="button" (click)="closeModal('ModalSelectTarea');" class="close">&times;</button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="80%">Nombre</th>
                                <th width="20%">Precio $</th>
                                <th width="1%">*</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="listTarea.length">
                            <tr *ngFor="let tarea of listTarea | paginate: {itemsPerPage: 5, currentPage: pageActualTarea}; let i = index">
                                <td>{{tarea.Nombre}} </td>
                                <td>{{tarea.Costo}}</td>
                                <i (click)="tareaSeleccionada(tarea)" class="fa fa-check"></i>
                            </tr>
                        </tbody>
                    </table>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <span>
                                <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageActualTarea = $event"></pagination-controls>
                            </span>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" (click)="closeModal('ModalSelectTarea');" class="btn waves-effect waves-light btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </jw-modal>