<section id="wrapper">
    <!-- <div class="login-register"> -->
    <div class="login-register" style="background-image:url(/assets/images/fondo-service.jpg);">
        <div class="login-box card" style="border-radius: 15px; ">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" action="index.html">
                    <a href="javascript:void(0)" class="text-center db"><img src="/assets/images/107721_original2Md.png" alt="Home" /><br/></a>
                    <h1 class="box-title m-b-20" style="text-align:center">Iniciar sesión</h1>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="Usuario" id="tbUsuario" [ngModelOptions]="{standalone:true}" [(ngModel)]="usuario.Nombre"> </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" placeholder="Contraseña" [ngModelOptions]="{standalone:true}" [(ngModel)]="contrasenia"></div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded" (click)="ValidarUsuario($event.target.value);">Ingresar</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <p class="p-b-20" style="cursor: context-menu;">¿Ólvido su contraseña?<a style="cursor: pointer" (click)="openModal('ModalMail')"><b> Click aquí</b></a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<jw-modal id="ModalMail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Recuperar contraseña</h4>
                <button type="button" class="close" (click)="closeModal('ModalMail');">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Mail usuario:</label>

                            <input [(ngModel)]="mailRecuperar" class="form-control" type="text">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn waves-effect waves-light btn-info" (click)="obtenerContrasenia($event.target.value);">Enviar</button>
                <button type="button" class="btn waves-effect waves-light btn-danger" (click)="closeModal('ModalMail');">Cancelar</button>
            </div>
        </div>
    </div>
</jw-modal>