<section id="wrapper">
    <!-- <div class="login-register"> -->
    <div class="login-register" style="background-image:url(/assets/images/fondo-service.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" action="index.html">
                    <a href="javascript:void(0)" class="text-center db"><img src="/assets/images/107721_original2Md.png" alt="Home" /><br/></a>
                    <h2 class="box-title m-b-20" style="text-align:center">Consultar estado de la reparación</h2>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" [min]="1" type="number" placeholder="Nro. orden" [ngModelOptions]="{standalone:true}" [(ngModel)]="datosOrden.PkOrdenRep"> </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="Mail" [ngModelOptions]="{standalone:true}" [(ngModel)]="datosOrden.Mail"> </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" placeholder="Contraseña" [ngModelOptions]="{standalone:true}" [(ngModel)]="datosOrden.Contrasenia"></div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button [routerLink]="existe ? ['/detalleestadoorden', idOrden] : []" class="btn btn-block btn-lg btn-info btn-rounded" type="submit" (click)="ValidarExistenciaOrden($event.target.value);">Consultar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<section>
    <jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="tel" [ngx_whatsapp_text]="mensaje"></jjva-ngx-whatsapp-button>
</section>