<h1>Informes</h1>
<div class="row button-group">
    <div class="col-lg-3 col-md-4">
        <button type="button" (click)="clientesMasOrdenes();" class="btn btn-block btn-lg btn-info">Clientes con mas ordenes</button>
    </div>
    <div class="col-lg-2 col-md-4">
        <button type="button" class="btn btn-block btn-lg btn-info">Info</button>
    </div>
    <div class="col-lg-2 col-md-4">
        <button type="button" class="btn btn-block btn-lg btn-info">Info</button>
    </div>
    <div class="col-lg-2 col-md-4">
        <button type="button" class="btn btn-block btn-lg btn-info">Info</button>
    </div>

</div>