<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a aria-expanded="false"><span style="color:white;font-size:19px;font-weight: bold;" class="hide-menu">{{username}}</span></a>
                </li>
                <li id="liOrdenRep"><a href="/menuordenrep" aria-expanded="true"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Ordenes reparación</span></a>
                </li>
                <li id="liRepuesto"><a href="/menurepuesto" aria-expanded="false"><i class="mdi mdi-settings"></i><span class="hide-menu">Repuestos</span></a>
                </li>
                <li id="liCliente"><a href="/menucliente" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Clientes</span></a>
                </li>
                <li id="liProveedor"><a href="/menuproveedor" aria-expanded="false"><i class="mdi mdi-cart-outline"></i><span class="hide-menu">Proveedores</span></a>
                </li>
                <li id="liPedido"><a href="/menupedido" aria-expanded="false"><i class="mdi mdi-format-list-bulleted"></i><span class="hide-menu">Pedidos</span></a>
                </li>
                <li id="liTarea"><a href="/menutarea" aria-expanded="false"><i class="mdi mdi-clipboard-outline"></i><span class="hide-menu">Tareas</span></a>
                </li>
                <li id="liModelo"> <a href="/menumodelo" aria-expanded="false"><i class="mdi mdi-widgets"></i><span class="hide-menu">Modelos</span></a>
                </li>
                <li id="liMarca"> <a href="/menumarca" aria-expanded="false"><i class="mdi mdi-copyright"></i><span class="hide-menu">Marcas</span></a>
                </li>
                <li id="liInforme"> <a href="/informes" aria-expanded="false"><i class="mdi mdi-file-document"></i><span class="hide-menu">Informes</span></a>
                </li>
                <!-- <li> <a href="/menuproducto" aria-expanded="false"><i class="mdi mdi-dropbox"></i><span class="hide-menu">Productos</span></a>
                </li>-->
                <!-- <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i style="color:#e3fff2" class="mdi mdi-wrench"></i><span style="color:#e3fff2" class="hide-menu">Herramientas</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li> <a href="/menutiporepuesto" aria-expanded="false"><i class="mdi mdi-server"></i><span class="hide-menu">Tipo repuestos</span></a>
                        </li>
                        <li> <a href="/menuusuario" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Usuarios</span></a>
                        </li>
                    </ul>
                </li> -->
                <li id="liHerramienta"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-wrench"></i><span class="hide-menu">Herramientas</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li> <a href="/menutiporepuesto" aria-expanded="false"><i class="mdi mdi-server"></i><span class="hide-menu">Tipo repuestos</span></a>
                        </li>
                        <li> <a href="/menuusuario" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Usuarios</span></a>
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->