<div _ngcontent-msh-c4="" class="card-header bg-info">
    <h4 _ngcontent-msh-c4="" class="m-b-0 text-white">Seleccionar cliente para la orden de reparación</h4>
</div>

<div ng-controller="OrdenesRepController" class="table-responsive m-t-40">

    <table class="table table-bordered table-striped" id="myTable">
        <thead>
            <tr>
                <th width="10%">Nro.</th>
                <th width="40%">Nombre</th>
                <th width="19%">Teléfono</th>
                <th width="19%">Mail</th>
            </tr>
        </thead>
        <tbody *ngIf="listCliente.length">
            <tr *ngFor="let cliente of listCliente | paginate: {itemsPerPage: 7, currentPage: pageActual}; let i = index">
                <td>{{cliente.PkCliente}} </td>
                <td>{{cliente.Nombre}}</td>
                <td>{{cliente.Telefono}}</td>
                <td>{{cliente.Mail}}</td>
                <td><a [routerLink]="['/menuordenrep/nuevaorden', cliente.PkCliente]" href="/menuordenrep/nuevaorden" aria-controls="example23" class="btn btn-block btn-outline-info"><span>Seleccionar</span></a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="dataTables_paginate paging_simple_numbers">
    <span>
        <pagination-controls previousLabel="Anterior"
        nextLabel="Siguiente" (pageChange)="pageActual = $event"></pagination-controls>       
    </span>
</div>