<div class="card-header bg-info">
    <h4 class="m-b-0 text-white h4-per">Menu ordenes de reparación</h4>
</div>

<!--/row-->
<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <div class="dt-buttons">
                <a href="/menuordenrep/preorden" aria-controls="example23" class="btn waves-effect waves-light btn-block btn-success"><span >Nueva orden de reparacion</span></a>
            </div>
        </div>
        <div class="col-md-8">
        </div>
    </div>

    <div class="col-sm-12 col-xs-12">
        <form class="input-form">
            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                                    <button class="btn btn-info" type="button" (click)="OrdenesSegunId(idBuscar)">Buscar</button>
                                 </span>
                        <input type="number" class="form-control" min="1" [(ngModel)]="idBuscar" [ngModelOptions]="{standalone:true}" placeholder="Buscar por Nro. de orden...">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" (click)="OrdenesSegunClienteEstado(cliente.PkCliente, idEstado);">Buscar</button>
                        </span>
                        <input readonly type="text" class="form-control" placeholder="Buscar por cliente..." [(ngModel)]="cliente.Nombre" [ngModelOptions]="{standalone:true}">
                        <span type="button" class="input-group-addon"><i class="icon-close" (click)="VaciarCliente($event.target.value);" ></i></span>
                        <span type="button" class="input-group-addon"><i class="icon-magnifier" data-toggle="modal" data-target="#SeleccionarCliente"></i></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <h4 _ngcontent-aln-c4="" class="m-b-0 h4-per" style="margin-top: 10px;">Estado:</h4>
                        <!-- <div class="col-md-9"> -->
                        <select required class="form-control custom-select" (change)="OrdenesSegunEstado($event.target.value);" data-placeholder="Estado" [ngModelOptions]="{standalone:true}" [(ngModel)]="idEstado"> 
                                <option value="T">Todos</option>    
                                <option *ngFor="let estado of listEstado" value={{estado.PkEstado}}>{{estado.Nombre}}</option>       
                            </select>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>
</div>

<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th width="6%">Nro. orden</th>
            <th width="29%">Cliente</th>
            <th width="9%">Fecha retiro est.</th>
            <th width="3%"> Tarea</th>
            <th width="5%"> Repuesto</th>
            <th width="12%">Estado</th>
            <th width="6%">Acción</th>
        </tr>
    </thead>
    <!-- <tbody *ngIf="listOrdenRep.length"> -->
    <tbody *ngIf="listOrdenRep">
        <tr *ngFor="let orden of listOrdenRep | paginate: {itemsPerPage: 7, currentPage: pageActual}; let i = index">
            <td>{{orden.Pkordenreparacion}} </td>
            <td>{{orden.Cliente}}</td>
            <td>{{orden.FecRetiroEstimado | date:'dd/MM/yyyy'}}</td>
            <td><a aria-controls="example23" class="btn btn-block btn-outline-info" (click)="TareasSinAsignar(orden.Pkordenreparacion)" data-toggle="modal" data-target="#ModalTarea"><span>Agregar</span></a></td>
            <!-- <td><a aria-controls="example23" class="btn btn-block btn-outline-info" (click)="RepuestoSinAsignar(orden.Pkordenreparacion)" data-toggle="modal" data-target="#ModalRepuesto"><span>Agregar</span></a></td> -->
            <td><a aria-controls="example23" class="btn btn-block btn-outline-info" data-toggle="modal" data-target="#ModalRepuesto"><span>Agregar</span></a></td>
            <!-- <td>
                <select required class="form-control custom-select" data-placeholder="Estado" (change)="NotificarCliente(orden.Pkordenreparacion)" [ngModelOptions]="{standalone:true}" [(ngModel)]="idEstadoActual"> 
                    <option *ngFor="let estado of listEstado" value={{estado.PkEstado}}>{{estado.Nombre}}</option>       
                </select>
            </td> -->
            <td>{{orden.Estado}}</td>
            <td class="text-nowrap">
                <a data-toggle="tooltip" data-original-title="Edit"> <i [routerLink]="['/menuordenrep/modificar', orden.Pkordenreparacion]" name="Modificar" class="fa fa-pencil text-inverse m-r-10"></i> </a>
                <a data-toggle="tooltip" data-original-title="Close"> <i (click)="EliminarOrden(orden.Pkordenreparacion)" class="fa fa-close text-danger"></i> </a>
            </td>

        </tr>
    </tbody>
</table>
<div class="dataTables_paginate paging_simple_numbers">
    <span>
        <pagination-controls   previousLabel="Anterior"
        nextLabel="Siguiente" (pageChange)="pageActual = $event"></pagination-controls>
    </span>
</div>


<!-----------------/MODAL------------------->
<div id="ModalTarea" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title h4-per">Agregar tareas</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th width="10%"></th>
                            <th width="70%">Tarea</th>
                            <th width="20%">Costo $</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="listTarea.length">
                        <tr *ngFor="let tarea of listTarea">
                            <td scope="row">
                                <input class="form-check-input" type="checkbox" id="tarea-{{tarea.PkTarea}}" name="listTarea[]" [(ngModel)]="tarea.checked">
                                <label for="tarea-{{tarea.PkTarea}}" class="label-table form-check-label"></label>
                            </td>
                            <td>{{tarea.Nombre}} </td>
                            <td>{{tarea.Costo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn waves-effect waves-light btn-success" (click)="AgregarTareas(listTarea);" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn waves-effect waves-light btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!----------------------- FIN MODAL -------------------------------------->

<!-----------------/MODAL------------------->
<div id="ModalRepuesto" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar repuestos</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th width="5%"></th>
                            <th width="70%">Repuesto</th>
                            <th width="10%">Precio unitario</th>
                            <th width="10%">Stock</th>
                            <th width="10%">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="listRepuesto.length">
                        <tr *ngFor="let repuesto of listRepuesto">
                            <td scope="row">
                                <input class="form-check-input" type="checkbox" id="repuesto-{{repuesto.PkRepuesto}}" name="listRepuesto[]" [(ngModel)]="repuesto.checked">
                                <label for="repuesto-{{repuesto.PkRepuesto}}" class="label-table form-check-label"></label>
                            </td>
                            <td>{{repuesto.Nombre}} </td>
                            <td>{{repuesto.PrecioVenta}}</td>
                            <td>{{repuesto.CantidadStock}}</td>
                            <td contenteditable> <input type="number" value="1" min="1" max={{repuesto.CantidadStock}} [(ngModel)]="repuesto.CantidadActual"></td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="modal-footer justify-content-between">
                <!-- <button type="button" class="btn waves-effect waves-light btn-success" (click)="getRepuestos(listRepuesto);" data-dismiss="modal">Aceptar</button> -->
                <button type="button" class="btn waves-effect waves-light btn-success" (click)="AgregarRepuesto(listRepuesto);" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn waves-effect waves-light btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!----------------------- FIN MODAL -------------------------------------->

<!-----------------/MODAL------------------->
<div id="ConfirmarEstado" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¿Desea cambiar el estado? Se enviar un mail informandolo.</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn waves-effect waves-light btn-success" (click)="AgregarTareas(listTarea);" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn waves-effect waves-light btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!----------------------- FIN MODAL -------------------------------------->

<!-----------------/MODAL------------------->
<div id="SeleccionarCliente" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title h4-per">Seleccionar cliente</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th width="9%">*</th>
                            <th width="11%">Nro.</th>
                            <th width="52%">Nombre</th>
                            <th width="28%">Tel.</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="listCliente.length">
                        <tr *ngFor="let cliente of listCliente">
                            <td>
                                <a aria-controls="example23" (click)="getCliente(cliente)" class="mdi mdi-check" data-dismiss="modal"></a>
                            </td>
                            <td>{{cliente.PkCliente}} </td>
                            <td>{{cliente.Nombre}} </td>
                            <td>{{cliente.Telefono}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!----------------------- FIN MODAL -------------------------------------->