<div class="card-header bg-info">
    <h4 class="m-b-0 text-white h4-per">Menu ordenes de reparación</h4>
</div>
<!--/row-->
<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <div class="dt-buttons">
                <a href="/menuordenrep/preorden" aria-controls="example23" class="btn waves-effect waves-light btn-block btn-success"><span >Nueva orden de reparacion</span></a>
            </div>
        </div>
        <div class="col-md-8">
        </div>
    </div>
    <div class="col-sm-12 col-xs-12">
        <form class="input-form">
            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                                    <button class="btn btn-info" type="button" (click)="OrdenesSegunId(idBuscar)">Buscar</button>
                                 </span>
                        <input type="number" class="form-control" min="1" [(ngModel)]="idBuscar" [ngModelOptions]="{standalone:true}" placeholder="Buscar por Nro. de orden...">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" (click)="OrdenesSegunClienteEstado(cliente.PkCliente, idEstado);">Buscar</button>
                        </span>
                        <input readonly type="text" class="form-control" placeholder="Buscar por cliente..." [(ngModel)]="cliente.Nombre + ' ' + cliente.Apellido" [ngModelOptions]="{standalone:true}">
                        <span type="button" class="input-group-addon"><i class="icon-close" (click)="VaciarCliente($event.target.value);" ></i></span>
                        <span type="button" class="input-group-addon"><i class="icon-magnifier" (click)="openModal('modalSeleccionarCliente')" data-toggle="modal" data-target="#SeleccionarCliente"></i></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <h4 _ngcontent-aln-c4="" class="m-b-0 h4-per" style="margin-top: 10px;">Estado:</h4>
                        <select required class="form-control custom-select" (change)="OrdenesSegunEstado($event.target.value);" data-placeholder="Estado" [ngModelOptions]="{standalone:true}" [(ngModel)]="idEstado"> 
                            <option value="T">Todos</option>    
                            <option *ngFor="let estado of listEstado" value={{estado.PkEstado}}>{{estado.Nombre}}</option>       
                        </select>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>
</div>

<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th width="6%">Nro. orden</th>
            <th width="29%">Cliente</th>
            <th width="9%">Fecha inicio</th>
            <th width="9%">Fecha retiro est.</th>
            <th width="6%">Estado</th>
            <th width="6%">Acción</th>
        </tr>
    </thead>
    <tbody *ngIf="listOrdenRep">
        <tr *ngFor="let orden of listOrdenRep | paginate: { id: 'pagOrRep', itemsPerPage: 7, currentPage: pageActual}; let i = index" [ngClass]="{'table-danger': controlVencimiento(orden.FecRetiroEstimado, orden.FkEstado)}">
            <td>{{orden.Pkordenreparacion}} </td>
            <td>{{orden.Cliente}}</td>
            <td>{{orden.FechaInicio | date:'dd/MM/yyyy'}}</td>
            <td>{{orden.FecRetiroEstimado | date:'dd/MM/yyyy'}}</td>
            <td>{{orden.Estado}}</td>
            <td class="text-nowrap">
                <a data-toggle="tooltip" data-original-title="Cambiar"> <i (click)="estadosPosibles();openModalEstados('ModalConfirmarEstado', orden)" class="fa fa-exchange m-r-10"></i> </a>
                <a data-toggle="tooltip" data-original-title="Imprimir"> <i (click)="createPdf(orden.Pkordenreparacion);" name="Imprimir" class="fa fa-print text-inverse m-r-10"></i> </a>
                <a data-toggle="tooltip" data-original-title="Edit"> <i [routerLink]="['/menuordenrep/modificar', orden.Pkordenreparacion]" name="Modificar" class="fa fa-pencil text-inverse m-r-10"></i> </a>
                <a data-toggle="tooltip" data-original-title="Estados"> <i (click)="mostrarHistorial(orden.Pkordenreparacion);" name="Historial estados" class="fa fa-search-plus text-inverse m-r-10"></i> </a>
            </td>
        </tr>
    </tbody>
</table>
<div class="dataTables_paginate paging_simple_numbers">
    <span>
        <pagination-controls id="pagOrRep" previousLabel="Anterior"
        nextLabel="Siguiente" (pageChange)="pageActual = $event"></pagination-controls>
    </span>
</div>


<!-----------------/MODAL------------------->
<jw-modal id="ModalConfirmarEstado">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: 602px;">
            <div class="modal-header">
                <h4 class="modal-title">Cambiar estado</h4>
                <button type="button" (click)="closeModal('ModalConfirmarEstado')" class="close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">¿Desea cambiar el estado?</label>
                            <select required class="form-control custom-select" data-placeholder="Estado" [ngModelOptions]="{standalone:true}" [(ngModel)]="idEstadoPosible"> 
                                <option *ngFor="let estado of listEstadoPosible" value={{estado.PkEstado}}>{{estado.Nombre}}</option>       
                            </select>
                        </div>
                    </div>
                    <div class="demo-checkbox" style="margin-left: 20px;">
                        <input type="checkbox" id="cbEnviarMail">
                        <label for="cbEnviarMail">Enviar mail.</label>
                        <input type="checkbox" id="cbEnviarWsp">
                        <label for="cbEnviarWsp">Enviar whatsapp.</label>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Observacion:</label>
                            <input type="text" class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="observacion">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn waves-effect waves-light btn-success" (click)="NotificarCliente()">Aceptar</button>
                <button type="button" class="btn waves-effect waves-light btn-danger" (click)="closeModal('ModalConfirmarEstado')">Cancelar</button>
            </div>
        </div>
    </div>
    <jw-modal>
        <!----------------------- FIN MODAL -------------------------------------->

        <!-----------------/MODAL------------------->
        <jw-modal id="modalSeleccionarCliente">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title h4-per">Seleccionar cliente</h4>
                        <button type="button" class="close" (click)="closeModal('modalSeleccionarCliente')">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped" id="myTable">
                            <thead>
                                <tr>
                                    <th width="11%">Nro.</th>
                                    <th width="52%">Nombre</th>
                                    <th width="28%">Tel.</th>
                                    <th width="3%">*</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="listCliente.length">
                                <tr *ngFor="let cliente of listCliente | paginate: {id: 'pagCli', itemsPerPage: 5, currentPage: pageActualCliente}; let i2 = index">
                                    <td>{{cliente.PkCliente}} </td>
                                    <td>{{cliente.Nombre}} {{cliente.Apellido}}</td>
                                    <td>{{cliente.Telefono}}</td>
                                    <td>
                                        <a aria-controls="example23" (click)="clienteSeleccionado(cliente)" class="mdi mdi-check" data-dismiss="modal"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="dataTables_paginate paging_simple_numbers">
                            <span>
                            <pagination-controls id="pagCli" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageActualCliente = $event"></pagination-controls>
                        </span>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" (click)="closeModal('modalSeleccionarCliente')" class="btn waves-effect waves-light btn-danger">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <jw-modal>
                <!----------------------- FIN MODAL -------------------------------------->

                <!-----------------/MODAL------------------->
                <jw-modal id="modalHistorialEstados">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 600px">
                            <div class="modal-header">
                                <h4 class="modal-title h4-per">Historial de estados</h4>
                                <button type="button" class="close" (click)="closeModal('modalHistorialEstados')">&times;</button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="3%">Estado</th>
                                            <th width="93%">Observación</th>
                                            <th width="3%">Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let historial of listEstadoHis">
                                            <td>{{historial.Nombre}}</td>
                                            <td>{{historial.Observacion}}</td>
                                            <td>{{historial.Fecha | date:'dd/MM/yyyy'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" (click)="closeModal('modalHistorialEstados')" class="btn waves-effect waves-light btn-danger">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <jw-modal>
                        <!----------------------- FIN MODAL -------------------------------------->